.about {
  margin-left: 184px;
  margin-right: 184px;
  position: relative;
  line-height: 1.4em;
  font-size: 0.8em;

  ul.people {
    list-style-type: none;
    margin-before: 0;
    padding-left: 0;
  }

  div {
    margin-top: 64px;
    margin-bottom: 64px; 
  }
}