.about {
  position: relative;

  @include respond-to(wide-screens) {
    margin-left: 184px;
    margin-right: 184px;
  }

  @include respond-to(phones) {
    margin-left: 16px;
    margin-right: 16px;
  }

  line-height: 1.4em;
  font-size: 0.8em;

  ul.people {
    list-style-type: none;
    margin-before: 0;
    padding-left: 0;
  }

  div {
    margin-top: 64px;
    margin-bottom: 64px; 
  }
}