@import url(https://fonts.googleapis.com/css?family=Sirin+Stencil|Knewave|Cousine:400,400italic);

$sirin: 'Sirin Stencil', cursive;
$knewave: 'Knewave', cursive;
$cousine: 'Cousine', sans-serif;

@import 'about';
@import 'events';
@import 'footer';
@import 'header';


#root {
  font-family: $cousine;
}

.content {
  width: 950px;
  margin: 0 auto 0 auto;
}