@import 'eventdate';

.event-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  background-color: black;
  padding: 16px;
  color: white;
  overflow: hidden;

  .summary-date {
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    font-size: 0.75em;
    text-align: left;
    padding: 12px;
    width: 30%;
    max-width: 150;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .name {
    padding-top: 8px;
    padding-bottom: 8px;
    align-self: start;
    font-size: 1.3em;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    font-family: $knewave;
  }
}

.event-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .details {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;

    @include respond-to(phones) { flex-direction: column-reverse; }

    .info {
      display: flex;
      flex-direction: column;
      width: 32%;
      max-width: 300px;

      @include respond-to(phones) {
        width: 100%;
        max-width: none;
        margin-top: 8px;
      }

      .purchase {
        font-size: 1.3em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: $sirin;
        padding: 8px 16px 8px 16px;
        margin: 0 16px 0 16px;
        box-shadow: 3px 3px #000;
        border: 1px solid #000;

        a {
          text-decoration: none;
        }
      }

      .detail-content {
        flex-grow: 1;
        overflow: hidden;
      }

      .description {
        padding: 16px;

        a {
          font-style: italic;
          text-transform: uppercase;
          text-decoration: none;
        }

        p {
          display: block;
          margin-top: 16px;
        }
      }

      .facebook, .show-more {
        flex-grow: 0;
        display: block;
        padding: 8px; 
        align-self: end;
        text-transform: uppercase;
        text-decoration: none;
        font-style: italic;
        color: black;
        margin-right: 16px;
        margin-left: 16px;
      }

      .facebook {
        text-align: right;
        margin-bottom: 16px;
      }

      .show-more {
        text-align: left;
      }
    }

    .poster {
      display: block;
      position: relative;
      width: 69%;
      height: auto;

      @include respond-to(phones) { width: 100%; }

      img {
        width: 100%;
      }
    }
  }
}
