@import 'eventdate';

.event-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  background-color: black;
  padding: 16px;
  color: white;
  text-transform: uppercase;
  overflow: hidden;

  .date {
    font-size: 0.8em;
    text-align: left;
  }

  .name {
    align-self: center;
    font-size: 1.2em;
    width: 600px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;

    span {
      display: block;
      white-space: nowrap;
      width: 600px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.event-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  background-color: black;
  color: white;

  .details {
    display: flex;
    flex-direction: row;

    .info {
      width: 32%;
      max-width: 300px;

      hr {
        margin-top: 0px;
      }

      > div {
        padding: 16px;
      }

      .tickets {
        font-size: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;

        .event-date {
          flex-grow: 1;
        }

        .purchase {
          flex-grow: 0;
          align-self: center;
          padding: 16px 32px 16px 32px;
          background-color: #555555;
          border-radius: 2px;
        }

      }

      .description {
        font-size: 0.8em;

        .facebook {
          display: block;
          align-self: center;
          color: white;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #555555;
          padding: 8px; 
          border-radius: 2px;
        }
      }
    }

    .poster {
      display: block;
      max-width: 650px;
      width: 69%;
    }
  }
}