.header {
  display: flex;
  flex-direction: row;
  max-width: 950px;
  margin: 0 auto 0 auto;
  align-items: center;

  margin-bottom: 32px;
  margin-top: 32px;

  .title {
    display: block;
    font-family: $sirin;
    font-size: 3em;
    margin-left: 32px;
    text-transform: uppercase;
  }

  .meta {
    display: flex;
    flex-direction: column;
    padding-left: 64px
  }
}