.header {
  display: flex;
  flex-direction: row;
  max-width: 950px;
  margin: 0 auto 0 auto;
  align-items: center;

  @include media(phones) { flex-direction: column; }

  margin-bottom: 32px;
  margin-top: 32px;

  .title {
    display: block;
    font-family: $sirin;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.15em;

    @include media(phones) {
      font-size: 8em;
      text-align: center;
    }

    @include media(medium-screens) {
      margin-left: 16px;
      margin-right: 16px;
      font-size: 3em;
    }

    @include media(wide-screens) {
      margin-left: 32px;
      font-size: 3em;
    }
  }

  .meta {
    position: relative;
    bottom: -4px;

    display: flex;
    flex-direction: column;

    @include media(wide-screens) { padding-left: 32px; }

    ul {
      @include media(phones) { text-align: center; }
    }

    ul:first-child {
      display: block;
      flex-grow: 1;
      padding-bottom: 6px;
    }

    ul:last-child {
      flex-grow: 0;
    }
  }
}

.small {
  .header {
    flex-direction: column;
  }
}