.header {
  display: flex;
  flex-direction: row;
  max-width: 950px;
  margin: 0 auto 0 auto;
  align-items: center;

  @include respond-to(phones) { flex-direction: column; }

  margin-bottom: 32px;
  margin-top: 32px;

  .title {
    display: block;
    font-family: $sirin;
    font-size: 3em;
    margin-left: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.15em;

    @include respond-to(phones) { font-size: 8em }
  }

  .meta {
    position: relative;
    bottom: -4px;

    display: flex;
    flex-direction: column;
    padding-left: 32px;

    ul:first-child {
      display: block;
      flex-grow: 1;
      padding-bottom: 6px;
    }

    ul:last-child {
      flex-grow: 0;
    }
  }
}

.small {
  .header {
    flex-direction: column;
  }
}