@import 'utils/all';
@import 'components/all';

a {
  color: black;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  font-size: 16px;
  @include respond-to(phones) { font-size: 12px; }
}
