@import 'utils/all';
@import 'components/all';

a {
  color: black;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  @include media(phones) { font-size: 12px; }
  @include media(medium-screens) { font-size: 14px; }
  @include media(wide-screens) { font-size: 16px; }
}
